<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="SMTP_SERVER" value="smtp.changeme.com" />
    <add key="SMTP_USERNAME" value="contact@hackenaton.org" />
    <add key="SMTP_PASSWORD" value="changeme" />
    <add key="SMTP_PORT" value="465" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=XORCISM\sqlserver2008;user ID=sa;password=changeme#;Initial Catalog=XORCISM"
     providerName="System.Data.SqlClient" />-->
    <!--<add name="XORCISMEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.0.24\sqlserver2008;Initial Catalog=XORCISM;user ID=sa;password=changeme#;MultipleActiveResultSets=True&quot;"
     providerName="System.Data.EntityClient" />-->
    <add name="XORCISMEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=127.0.0.1,1433;User ID=sa;Password=jerome;Initial Catalog=XORCISM;Persist Security Info=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="XORCISMConnectionString" connectionString="Data Source=XORCISM\Sqlserver2008;Initial Catalog=XORCISM;Persist Security Info=True;User ID=sa"
     providerName="System.Data.SqlClient" />
    <add name="XORCISMConnectionString1" connectionString="Data Source=XORCISM\Sqlserver2008;Initial Catalog=XORCISM;Persist Security Info=True;User ID=sa;Password=changeme#"
     providerName="System.Data.SqlClient" />
    <add name="XORCISMConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\XORCISM.mdf;Integrated Security=True;User Instance=True"
     providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="XManagerHost.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PingdomAPISoapBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PingdomAPISoapBinding1" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IService1" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.pingdom.com/soap/" binding="basicHttpBinding" bindingConfiguration="PingdomAPISoapBinding" contract="PingdomAPIWS.PingdomAPISoapPort" name="PingdomAPISoapPort" />
      <endpoint address="net.tcp://localhost:9999/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService1" contract="ServiceReferenceAgent.IService1" name="NetTcpBinding_IService1">
        <!--<identity>
          <userPrincipalName value="XORCISM\Jerome" />
        </identity>-->
      </endpoint>
    </client>
    <services>
      <service name="XManagerService.Service1" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" contract="XManagerService.IService1" binding="netTcpBinding" />
        <!-- This Endpoint is used for genertaing the proxy for the client -->
        <endpoint address="mex" contract="IMetadataExchange" binding="mexTcpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9998" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
